@media screen and (max-width: 992px) {
.get-result, .sample-data, .clear-data .difficulty{
  /* display: inline-block; */
  width: 30%;
}

.get-result {
  margin-top: .5rem;
}

.col-lg-3 {
  display: flex;
  justify-content: space-between;
}

}

p, h1, h2, .form-control {
  text-align: center;  
}

.form-control {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.table td {
/* background-color: red; */
border-style: solid;
text-align: center;
border-radius: 0.25rem;
border: 1px solid #dee2e6;
border-collapse: separate;
padding: 0.5rem;
overflow: hidden;
}


@media (min-width: 576px) {
.jumbotron {
  padding: 2rem 2rem;
}
}

.submit-div {
  display: flex; 
  justify-content: center;
}


#row-1, #row-2, #row-3 {
  border-collapse: inherit;
  margin-bottom: 0;
}

.bottom-3 {
  padding-bottom: 15px;
}

.gray {
  background-color: #dee2e6;
}

.no-padding {
  padding-right: 0;
}

.input-row {
  margin-top: 15px;
}

.btn{
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  width: 70%;
}






